@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@plugin "daisyui" {
    themes: light --default;
};

@theme {
    --font-sans: "Segoe UI", sans-serif;
    --font-serif: Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}

p {
    font-family: var(--font-sans);
}

#wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    min-height: 100dvh;
}